@import "tailwindcss";
*{
  color: black;
}
html,body{
  height: 100%;
  width: 100%;
 
}

@keyframes gradient-x {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 7s ease infinite;
}

#tasklist::-webkit-scrollbar{
  display: none;
}

@keyframes marquee {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 13s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

/* Chrome, Edge, Safari */
.chat-scroll {
  scrollbar-width:t hin;              /* Firefox ke liye */
  /* scrollbar-color: #d28df4 transparent; */
}

.chat-scroll::-webkit-scrollbar {
  width: 4px;                         /* Yeh patla scrollbar banata hai */
}

.chat-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.chat-scroll::-webkit-scrollbar-thumb {
  /* background-color: #d28df4;          Scroll thumb color */
  background-color: rgb(180, 176, 176);
  border-radius: 10px;
  border: 2px solid transparent;
}

.transition {
  transition: background-color 0.2s ease-in-out;
}